#bidenblast{
    font-family: 'IBM Plex Sans', sans-serif;
    color: red;
    font-size: 70px;
    text-align: center;
    text-shadow: 3px 3px 3px rgba(128, 0, 0, 1); 
}
p{
    font-family: 'IBM Plex Sans', sans-serif; 
    color: red; 
    font-size: 25px;      
    text-shadow: 2px 2px 2px rgba(128, 0, 1, 0);
}

body{
    background-image:url(cover5.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}
#image1{
    size: 20px;
    border-radius: 8px;
    max-width: 100%;
     height: auto;
     position: relative;
     background-position: center;
     background-repeat: no-repeat; background-size: cover;
}
img{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 25%;
    border: red;
    border-style: inset;
    border-width: 10px;
}
a:hover{
    color: darkred;
    
}
a:active{
    color: cornsilk;
} 
a{
    border: 20px;
    border-color: black;
background-color: gray; 
}   
#redbtn{
    background: round;
    background-color: #c73e2c;
    border-color: #c73e2c;
    padding: 10px 20px;
    font-size: 16px;
    font-family: sans-serif;
    color: black;
    font-weight: bold;
    position: relative;
}
#redbtn:hover{
    background-color: darkred;
    border-color:darkred;
    box-shadow: rgba(171, 35, 35, 0.678) 0px 5px 15px;
}
#redbtn:active{
    background-color: #690404;
}
img:hover{
    border-color: black;
    filter:contrast(5);
    filter:saturate(5)
}
h6{
    color: red;
    font-size: 15px;
    font-family: 'IBM Plex Sans', sans-serif;
}
h3{
    color: red;
    /*font-size: 15px;*/
    font-family: 'IBM Plex Sans', sans-serif;
}
#bidencaption{
    color: crimson;
    font-size: 19px;
    text-align: right 50px;
}
#twitterbtn{
    background-color: #139ae8;
    border-color: #139ae8;
    color: white;  
    font-weight: bold; 
    padding: 10px 20px;
    font-size: 16px;
    position: relative;
}
#twitterbtn:hover{
    background-color: #139ae8;
    border-color:#117cba;
    box-shadow: #139ae8 0px 5px 15px;
}
#twitterbtn:active{
    background-color: #054185;
    color: white;
}
hr{
    color: red;
}
#menacingtext{
    color: red;
    text-shadow: 3px 3px 3px rgba(128, 1, 0, 1);    
    font-size: 30px;
    margin-right: 60px;
}
img:active{
    border-color:maroon;
    filter:contrast(15);
    filter:saturate(15);
}
figcaption{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
